name: Auto Versioning
on:
  pull_request:
    types: [closed]
    branches:
      - master
      - main

jobs:
  versioning:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Auto Versioning
        uses: dgaida/auto-version-action/auto-version@main
